################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Requester/obj
/WebClient/obj
/Requester/bin/Debug/net5.0
/WebClient/bin/Debug/net5.0
/RequesterGui/bin/Debug/net5.0-windows
/RequesterGui/obj
